version: 2.1
orbs:
  docker: circleci/docker@2.0.2

workflows:
  build-and-publish-docker-image:
    jobs:
      - docker/publish:
          dockerfile: Dockerfile
          image: $CIRCLE_PROJECT_REPONAME
          path: .
          registry: 973955819987.dkr.ecr.us-west-1.amazonaws.com